:root {
  --logo-font: "Raleway", sans-serif;
  --content-font: "Roboto", sans-serif;
  --accent-color: rgb(33, 150, 243);
  --body-color: rgb(33, 33, 33);
  --description-color: rgb(117, 117, 117);
  --background-color: rgb(47, 48, 58);
  --dark-background-text-color: rgb(255, 255, 255);
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --project-description-border: 1px solid rgb(238, 238, 238);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.link {
  text-decoration: none;
  color: var(--body-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: rgb(0, 0, 0);
}
.logo-second-part-bottom {
  color: var(--dark-background-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.body {
  font-family: var(--content-font);
  color: var(--body-color);
}
.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 92px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.menu-item {
  padding-right: 50px;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  margin-left: auto;
}

.header-contacts {
  color: var(--description-color);
}
.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.hero-section {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  color: var(--dark-background-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.secondary {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
.unit-section {
  padding-top: 94px;
}
.unit-list {
  display: flex;
}
.unit-card:not(:last-child) {
  padding-right: 15px;
}
.unit {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.secondary-list {
  display: flex;
}
.whatwedo-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.whatwedo-item {
  flex-basis: calc((100% - 90px) / 3);
}
.whatwedo-item:not(:last-child) {
  padding-right: 30px;
}
.team-section {
  background-color: rgb(245, 244, 250);
  padding-top: 94px;
  padding-bottom: 94px;
}
.teammate-list {
  display: flex;
}
.teammate-card {
  /*flex-basis: calc((100% - 120px) / 4);*/
  background-color: var(--dark-background-text-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.teammate-card:not(:last-child) {
  margin-right: 30px;
}
.teammate-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--dark-background-text-color);
  background-color: rgb(24, 140, 232);
}
.modal-button {
  display: block;
  font-family: inherit;
  color: var(--dark-background-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 500;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 10px;
}
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.adress-link {
  color: var(--dark-background-text-color);
}
.contact-link {
  margin-top: 9px;
}
.contact-item {
  color: rgba(255, 255, 255, 60%);
}

/*portfolio page*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter {
  display: flex;
  justify-content: center;
}
.filter-button:not(:last-child) {
  margin-right: 8px;
}
.button:hover,
.button:focus {
  color: var(--dark-background-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f;

  box-shadow: 0px 1px 2px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}
.button {
  margin-bottom: 50px;
  padding: 6px 22px;
  font-family: inherit;
  background-color: rgb(245, 244, 250);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}
/*
.projects-container {
  margin-top: 94px;
  margin-bottom: 94px;
}*/
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.project-description {
  border-right: var(--project-description-border);
  border-bottom: var(--project-description-border);
  border-left: var(--project-description-border);
  padding: 20px 24px;
}
.project-name {
  font-size: 18px;
  line-height: 2;
}
